# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage
coverage/
*.lcov

# Test coverage
.nyc_output/

# Build outputs
build/
dist/
out/

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Cache
.cache/
.parcel-cache/
.temp/
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.rpt2_cache/
.rts2_cache_*/

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
.lock-wscript
.eslintcache
.stylelintcache
.node_repl_history
*.tgz

# dotenv files
.env*
!.env.example

# Static site generators
.next/
.nuxt/
.vuepress/dist/
.docusaurus/
**/.vitepress/dist/
**/.vitepress/cache/

# Serverless
.serverless/

# Others
.fusebox/
.dynamodb/
.tern-port

# VSCode testing
.vscode-test
